{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page_title %}
    ورود
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-4">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'bootstrap_form.html' with form=form %}
                    <button type="submit" class="btn btn-primary">ورود</button>
                    <a class="float-left" href="{% url 'auth_password_reset' %}">فراموشی رمز عبور</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}