{% extends "base.html" %}

{% block page_title %} بازآکادمی | {{ enrollment.course.title }} {% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'course:course_list' %}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'course:course_list' %}">دوره‌ها</a></li>
    <li class="breadcrumb-item active"><a>{{ enrollment.course.title }}</a></li>
{% endblock %}

{% block content %}
    {% load static %}

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">لیست فصول</h1>
                <p class="lead text-muted"> .در این صفحه می توانید درس موردنظر خود را انتخاب کنید</p>
                <p class="breadcrumb text-muted"
                   style="display: initial; text-align: center"> {{ enrollment.start_date }}زمان
                    شروع درس </p>
                <p class="lead" id="course-timer"></p>
                <input type="hidden" value="{{ enrollment.start_date.timestamp }}" id="start_date">
                <input type="hidden" value="{{ is_finished }}" id="is_finished">
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for chapter, value in chapters.items %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <p class="font-weight-bold text-center">{{ chapter.title }}</p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info"
                                         role="progressbar" style="width: {{ value.progress }}%">
                                        {{ value.progress }}%
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ chapter.content |safe }}</p>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                                data-toggle="collapse" data-target="#sections-{{ chapter.id }}"
                                                {% if value.is_locked %}disabled{% endif %}>مشاهده
                                        </button>
                                    </div>
                                </div>

                                    <div class="collapse card-footer p-0" id="sections-{{ chapter.id }}">
                                        {% for section in chapter.sections.all %}
                                            {% problem_submission_status_user section.problem user as status %}
                                            <div class="list-group-item quiz-problem-{{ status }} d-flex justify-content-between flex-row-reverse align-items-center">
                                                <a class="ml-2" href="{% url 'course:section-detail' course_slug=chapter.course.slug chapter_slug=chapter.slug section_slug=section.slug %}">
                                                    {{ section.title }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="container">
                <div class="row featurette">
                    <div class="col-md-9" style="text-align: right">
                        <h2 class="featurette-heading" style="text-align: right">درباره مدرس <span
                                class="text-muted">{{ professor.member.username }}</span></h2>
                        <p class="lead">{{ professor.description }}</p>
                    </div>

                    {% load static %}
                    <div class="col-md-3">
                        <img class="featurette-image img-fluid m-auto" src="{{ professor.get_profile_picture_url }}">
                    </div>

                    <hr class="featurette-divider">

                </div>
            </div>
        </div>
    </main>

{% endblock %}