{% extends "base.html" %}
{% load course_extra %}

{% block page_title %}کافه کولنگ | لیست دروس{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'course:course_list' %}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item active"><a>دوره‌ها</a></li>
{% endblock %}

{% block content %}

    <div class="container">


        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">لیست دروس</h1>
                <p class="lead text-muted"> .در این صفحه می توانید درس موردنظر خود را انتخاب کنید</p>
            </div>
        </section>

    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    {% for course in courses %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-header d-flex flex-column p-0">
                                    <div class="course-image">
                                        <img style="width: 100%;" src="{{ course.cover_url }}"/>
                                        <div class="course-title">
                                            <h5 class="text-center">{{ course.title }} </h5>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-info"
                                             role="progressbar" style="width: {{ course.progress }}%">
                                            {% get_course_progress course request.user.student %}%
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a role="button" class="btn btn-sm btn-outline-info"
                                       href="{% url 'exercise:play_ground' course.slug %}">پلی‌گراند</a>
                                    <p class="card-text">{{ course.content|safe }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{% url 'course:chapter_list' course.slug %}"
                                               class="btn btn-sm btn-outline-secondary ml-2"
                                               role="button">مشاهده</a>
                                            {% course_can_enroll course request.user.student as can_enroll %}
                                            {% if can_enroll %}
                                                <form action="{% url 'course:course_enroll' course.slug %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    {% course_is_locked course request.user.student as is_locked %}
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary"
                                                            {% if is_locked %}disabled{% endif %}>ثبت نام
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small>
                                        برچسب‌ها:

                                        {% for tag in course.get_tags %}
                                            <span class="badge badge-secondary font-weight-light">{{ tag }}</span>
                                        {% endfor %}
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div><!-- /.blog-main -->

            <aside class="col-md-3 blog-sidebar">
                <div class="p-3">
                    <h4 class="text-center">دسته بندی</h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item">
                            <div>
                                <a href="{% url 'course:course_list' %}"><h6 class="my-2 text-center">همه دروس</h6>
                                </a>
                            </div>
                        </li>
                        {% for category in categories %}
                            <li class="list-group-item">
                                <div>
                                    <a href="?category_id={{ category.id }}"><h6
                                            class="my-2 text-center">{{ category.name }}</h6></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>


            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->


{% endblock %}