{% extends "base.html" %}
{% load static %}
{% load course_extra %}
{% load extra_functions %}

{% block page_title %} بازآکادمی | {{ current.section.title }} {% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'course:course_list' %}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'course:course_list' %}">دوره‌ها</a></li>
    <li class="breadcrumb-item"><a
            href="{% url 'course:chapter_list' course_slug=section.chapter.course.slug %}">{{ section.chapter.course.title }}</a>
    </li>
    <li class="breadcrumb-item active"><a>{{ section.chapter.title }}</a></li>
    <li class="breadcrumb-item active"><a>{{ section.title }}</a></li>
{% endblock %}

{% block content %}
    {% with ''|center:section.admin_rate as range %}
        {% for _ in range %}
            <span class="fa fa-star" style="color:orange"></span>
        {% endfor %}
    {% endwith %}
    {% get_black_star_number section as black_star_number %}
    {% with ''|center:black_star_number as range %}
        {% for _ in range %}
            <span class="fa fa-star"></span>
        {% endfor %}
    {% endwith %}
    {% is_finished section student enrollment as is_finished %}
    <input type="hidden" name="date_time" value="{{ enrollment_section.started_time }}" id="start_date">
    <input type="hidden" value="{{ is_finished }}" id="is_finished">
    <script src="{% static 'high_charter/code/highcharts.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="FeedbackModel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span>
                        <h5 class="modal-title" id="feedbackModalLabel">نظر شما</h5>
                    </span>
                    <span>
                        <button type="button" class="close" id="closeFeedbackModal" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </span>
                </div>
                <form action="{% url 'course:section-submit-feedback' course_slug=section.chapter.course.slug  chapter_slug=section.chapter.slug section_slug=section.slug %}"
                      method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% for element in feedback_form %}
                            {% if element.name == "comment" %}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {{ element.label_tag }}
                                        </div>
                                        <div>
                                            {% set_class element 'form-control' %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {{ element.label_tag }}
                                        </div>
                                        <div>
                                            <fieldset>
                                                <input style="display: none;" type="radio"
                                                       id="no-rate{{ forloop.counter0 }}" class="input-no-rate"
                                                       name="{{ element.name }}" value="0" checked
                                                       aria-label="No rating."/>
                                                {% get_max_section_rate as max_section_rate%}
                                                {% with ''|center:max_section_rate as range %}
                                                    {% for _ in range %}
                                                        <input style="display: none;" type="radio"
                                                               id="{{ element.name }}-rate-{{ forloop.counter }}"
                                                               name="{{ element.name }}" value="{{ forloop.counter }}"/>
                                                        <label class="base_class rating-{{ element.name }}-{{ forloop.counter }}"
                                                               for="{{ element.name }}-rate-{{ forloop.counter }}"></label>
                                                    {% endfor %}
                                                {% endwith %}
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        {% if next_section %}
                            {% is_available enrollment next_section as is_next_available %}
                            <a class="btn btn-secondary {% if not is_next_available %} disabled {% endif %}"
                               role="button"
                               href="{% url 'course:section-detail' course_slug=section.chapter.course.slug  chapter_slug=section.chapter.slug section_slug=next_section.slug %}">بعدی</a>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">ثبت نظر</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        {% is_available enrollment section as is_section_available %}
        {% has_used_credit enrollment section as has_used_credit %}
        {% if is_section_available or has_used_credit %}

            {{ section.content|safe }}
            {% if section.problem %}
                {% include 'problem/problem_content.html' with problem=section.problem form=form %}
            {% endif %}
        {% else %}
            <div class="jumbotron">
                <h1>این قسمت برای شما موجود نمی باشد</h1>
            </div>
            <form action="{% url 'course:section_unlock' course_slug=section.chapter.course.slug chapter_slug=section.chapter.slug section_slug=section.slug %}"
                  method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                    استفاده از اعتبار
                </button>
            </form>
        {% endif %}
    </div>
    <button id="statistic-button" type="button" class="btn btn-primary"
            style="position: absolute;bottom: 6%;right: 10px;">
        آمار
    </button>

    <div class="modal fade" id="statistic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span>
                        <h5 class="modal-title" id="exampleModalLabel">آمار</h5>
                    </span>
                    <span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </span>
                </div>
                <div class="modal-body">
                    <div id="ajax-statistic-div" class="card-body">
                        مشکلی پیش آمده است
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="statistic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">آمار</h5>
                    <button type="button" class="close ml-0 mr-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="ajax-statistic-div">
                        <p class="text-center"><b>مشکلی پیش آمده است</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="p-0">
            {% if previous_section %}
                {% is_available enrollment previous_section as is_previous_available %}
                <a class="btn btn-primary {% if not is_previous_available %} disabled {% endif %}" role="button"
                   style="position: absolute; left: 1%;"
                   href="{% url 'course:section-detail' course_slug=section.chapter.course.slug chapter_slug=section.chapter.slug section_slug=previous_section.slug %}">قبلی </a>
            {% endif %}
        </div>
        <div class="p-0">
            {% if next_section %}
                {% is_available enrollment next_section as is_next_available %}
                <a class="btn btn-primary {% if not is_next_available %} disabled {% endif %}" role="button"
                   style="position: absolute; right: 1%;"
                   href="{% url 'course:section-detail' course_slug=section.chapter.course.slug  chapter_slug=section.chapter.slug section_slug=next_section.slug %}">بعدی</a>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#statistic-button").click(function () {
                $("#ajax-statistic-div").load("{% url 'course:statistic-view' section_id=section.id %}", function () {
                    $('#statistic').modal('show');
                });
            });
        });
    </script>
{% endblock %}

