{% extends 'base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'course:course_list' %}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item active"><a>اعلان‌ها</a></li>
{% endblock %}

{% block content %}

<main role="main" class="container">

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">لیست نوتیفیکیشنهای شما</h6>
  <div class="list-group">
        {% for notification in notifications %}
            <li class="list-group-item media text-muted pt-3"
                    {% if notification.unread %}
                        style="background-color:lightyellow"
                    {% else %} style="background-color: lightgray"
                    {% endif %}>
              <i class="fa fa-bell display-4 float-right ml-4"></i> <p class="media-body pb-3 mb-0 small lh-125">
                <a href={{ notification.link }}><strong class="d-block text-gray-dark"> {{ notification.verb }} </strong></a>
                {{ notification.description }}
              </p>
            </li>
        {% endfor %}
  </div>
  </div>

</main>
{% endblock %}
